<div class="container">
      <div class="row">
          <div class="col-md-4 offset-xl-2 mb-5 mb-lg-0">
              <h4 class="text-uppercase">Around the Web</h4>
              <ul class="list-inline">
                  <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="#"><i class="fa fa-github fa-fw"></i></a></li>
                  <li class="list-inline-item"><a class="btn btn-outline-light btn-social text-center rounded-circle" role="button" href="#"><i class="fa fa-linkedin fa-fw"></i></a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h4 class="text-uppercase mb-4">About me</h4>
              <p class="lead mb-0"><span>Hi, my name is Andy. I'm only an enthusiastic developer who enjoys creating apps or tools to make my day to day life easier.&nbsp;</span></p>
          </div>
      </div>
  </div>
