<div [ngClass]="{'': !isLogin}">
  <div class="layout" [ngClass]="{'cover-container d-flex w-100 h-100 mx-auto flex-column': !isLogin}">
    <header [ngClass]="{'mb-auto': !isLogin}">
      <app-header></app-header>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer [ngClass]="{'mt-auto text-white-50': !isLogin, 'text-center footer': isLogin}" *ngIf="isLogin">
      <app-footer></app-footer>
    </footer>
  </div>
</div>
<!-- Agregar el script desde el CDN -->
<!-- <script src="https://url-del-cdn/script.js"></script> -->
