<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ManagerTime</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Customizable-Background--Overlay.css">
    <link rel="stylesheet" href="assets/css/Login-Box-En.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body style="height: 100%;">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="index.html">ManagerTime</a><button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="login.html">Login</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="register.html">Sing in</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="/*margin-top: 106px;*//*background-image: url(&quot;assets/img/pexels-photo-160107.jpeg&quot;);*//*max-height: 100%;*/background-position: center;background-size: cover;background-repeat: no-repeat;height: 100%;">
        <div class="d-flex justify-content-center align-items-center" style="height: inherit;min-height: initial;width: 100%;position: absolute;left: 0;background-color: #18bc9c;">
            <div class="d-flex align-items-center order-12" style="/*height: 200px;*/">
                <div class="container">
                    <div class="d-flex flex-column justify-content-center" id="login-box">
                        <div class="login-box-header">
                            <h4 style="color:rgb(139,139,139);margin-bottom:0px;font-weight:400;font-size:27px;">Login</h4>
                        </div>
                        <div class="login-box-content">
                            <div class="fb-login box-shadow"><a class="d-flex flex-row align-items-center social-login-link" href="#"><i class="fa fa-facebook" style="margin-left:0px;padding-right:20px;padding-left:22px;width:56px;"></i>Login with Facebook</a></div>
                            <div class="gp-login box-shadow"><a class="d-flex flex-row align-items-center social-login-link" href="#" style="margin-bottom:10px;"><i class="fa fa-google" style="color:rgb(255,255,255);width:56px;"></i>Login with Google+</a></div>
                            <div class="default-login box-shadow"><a class="d-flex flex-row align-items-center social-login-link" href="#collapse-1" style="margin-bottom:10px;" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" role="button"><i class="fa fa-send-o" style="color:rgb(255,255,255);width:56px;"></i>With Email</a></div>
                        </div>
                        <div id="collapse-1" class="collapse">
                            <div class="d-flex flex-row align-items-center login-box-seperator-container">
                                <div class="login-box-seperator"></div>
                                <div class="login-box-seperator-text">
                                    <p style="margin-bottom:0px;padding-left:10px;padding-right:10px;font-weight:400;color:rgb(201,201,201);">or</p>
                                </div>
                                <div class="login-box-seperator"></div>
                            </div>
                            <div class="email-login" style="background-color:#ffffff;"><input type="email" required="" placeholder="Email" minlength="6" class="email-imput form-control" style="margin-top:10px;"><input type="password" required="" placeholder="Password" minlength="6" class="password-input form-control"
                                    style="margin-top:10px;"></div>
                            <div class="submit-row" style="margin-bottom:8px;padding-top:0px;"><a class="btn btn-primary btn-block box-shadow" role="button" href="index.html" id="submit-id-submit">Login</a>
                                <div class="d-flex justify-content-between">
                                    <div class="form-check form-check-inline" id="form-check-rememberMe"><input class="form-check-input" type="checkbox" name="check" id="formCheck-1" for="remember" style="cursor:pointer;"><label class="form-check-label" for="formCheck-1"><span class="label-text">Remember Me</span></label></div>
                                    <a
                                        href="#" id="forgot-password-link">Forgot Password?</a>
                                </div>
                            </div>
                        </div>
                        <div id="login-box-footer" style="padding:10px 20px;padding-bottom:23px;padding-top:18px;">
                            <p style="margin-bottom:0px;">Don't you have an account?<a href="#" id="register-link">Sign Up!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/freelancer.js"></script>
</body>

</html>