<div class="modal fade" role="dialog" tabindex="-1" id="modal-finish-day">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-warning mr-1"></i>Aviso</h4><button type="button" class="close"
          data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <p>Estás apunto de finalizar las labores del día.</p>
        <p>¿Deseas confirmar?</p>
      </div>
      <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">No</button><button
          class="btn btn-primary" type="button">Yes!</button></div>
    </div>
  </div>
</div>
